body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6E6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}